
.tituloQuienes {
    font-family: 'Roboto Condensed';
    font-size: 38px;
    padding: 20px 0px 20px 0px;
    font-weight: 700;
    text-align: center;
}

.parteUno {
    background-color: #F3F3F3;
    align-items: flex-start !important;
    justify-content: space-around !important;
    padding: 40px 0px 40px 0px;
}

.contenedorCuadros {
    align-items: center !important;
    display: flex;
    flex-direction: column;
}


@media (min-width: 992px) and (max-width: 1199px)  {
    .contenedorCuadros{
        flex-direction: row;
    }

    .parteUno {
        align-items: center !important;
        justify-content: center !important;
    }

    .textosCuadros {
        margin-left: 2rem !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .textosCuadros {
        padding: 0px 30px 30px 30px !important;
    }
}



.tituloUno {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.textoUno {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 300;
}
/* PARTE QUIENES */
.parteDos {
    background-color: #F3F3F3;
    align-items: flex-start !important;
    justify-content: center !important;
    padding: 40px;
}


@media (min-width: 993px) and (max-width: 1200px) {
    .segunda {
        display: flex !important;
        flex-direction: column-reverse !important;
    }
    .parteDos {
        align-items: center !important;
    }

    .imagenHis {
        display: flex !important;
        justify-content: center !important;
        margin-bottom: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .segunda {
        display: flex !important;
        flex-direction: column-reverse !important;
        padding: 20px 40px 0px 40px !important;
    }

    .tituloQuienesHistoriaA {
        padding-left: 0px !important;
    }
    .textoUnoHistoriaA {
        padding-left: 0px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .parteDos {
        align-items: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }

    .imagenHis {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin-bottom: 1rem !important;
    } 

    .segunda {
        display: flex !important;
        flex-direction: column-reverse !important;
        padding: 20px 40px 0px 40px !important;
    }
}

.margen {
    margin-top: 15rem !important;
}

.cuadroQuienes {
    background-color: #F3F3F3;
    width: 1245px;
    display: flex;
    margin-bottom: 5rem;
    padding-bottom: 30px;
    flex-direction: column;
}

.quienesTextos {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.containerQuienesUno {
    display: flex;
    flex-direction: row;
}

.textoUnoHistoria {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    
}
.tituloQuienesHistoria {
    font-family: 'Roboto Condensed';
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.containerQuienesUnoA {
    display: flex;
    flex-direction: row-reverse;
}

.textoUnoHistoriaA {
    padding-left: 20px;
}

.tituloQuienesHistoriaA {
    font-family: 'Roboto Condensed';
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: flex-start !important;
    padding-left: 20px;
}

.tituloQuienesHistoriaB {
    font-family: 'Roboto Condensed';
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center !important;
    padding-left: 20px;
}

/* NUESTRO EQUIPO */

.tituloNuestro {
    font-family: 'Roboto Condensed';
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    padding: 40px 39px 22px 0px;
}

.equipo {
    display: flex !important;
    flex-direction: column;
    margin-top: 15rem !important;
}


/**/
.org {
    display: flex;
    flex-direction: column !important;
    margin-top: 15rem !important;
}


.containerHistoria {
    display: flex;
    flex-direction: row;
}


.historiaTextos {
    display: flex;
    flex-direction: row;
    width: 1013px;
}

.textosHistoria {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.textoUnoHistoriaA {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
}

.imgHistoriaDos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem !important;
    margin-bottom: 4rem!important;
}