.containerHacemos {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.quienes {
    padding-top: 20px;
    width: 100%;
}

.tituloQuienes {
    font-family: 'Roboto Condensed';
    font-size: 38px;
    padding: 20px 0px 20px 0px;
    font-weight: 700;
    text-align: center;
}

.containerCuadroHacemos {
    background-color: #F3F3F3;
    width: 1245px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.containerA {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 1rem;
    align-items: center;
    width: 1245px;
    justify-content: space-around;
}

.contieneBlanco {
    background: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(210, 218, 242, 0.87);
    border-radius: 10px;
    width: 333px;
    height: 227px;
    border-radius: 10px;
    padding: 0px 30px 30px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.fondito {
    background-color: #E9FAF0;
    width: 333px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fonditoDos {
    background-color: #F3F3F3;
    width: 333px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoQuienes {
    font-family: 'Roboto Condensed';
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    height: 74px;
}

.tituloQuienesUno {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

.subtituloQuienesUno {
    font-family: 'Roboto Condensed';
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.tematicas {
    padding: 50px 0px 20px 0px;
    font-family: 'Roboto Condensed';
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}

