.parteCuadroAgen {
    align-items: flex-start !important;
    justify-content: space-around !important;
    padding: 40px 0px 40px 0px;
    margin-bottom: 3rem;
}

.contenedorCuadrosAg {
    background-color: #D34B9A;
    border-radius: 10px;
}

.dos {
    background-color: #A8FFCE;
}

.textQ {
    align-items: center;
    justify-content: center;
    display: flex;
}

.textoQuienesAgenda {
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;


}

.contenedorCuadrosAg {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px !important;
}

.cuadrosAgenda {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    padding: 30px 0px 0px 0px;
    justify-content: center !important;
}

.textosAcomo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contEsc {
    align-items: center !important;
    justify-content: center !important;
    display: flex;
    flex-direction: column;
}

.escara {
    width: 20px;
}
.rec {
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.contieneRosa {
    background:#D34B9A;
    /* width: 370px !important; */
    border-radius: 10px;
    border-radius: 10px;
    height: 300px;

    padding-left: 0 !important;
    padding-right: 0 !important;


    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.contieneVerde {
    background-color: #A8FFCE;
    border-radius: 10px;
    border-radius: 10px;
    height: 300px;
    /* width: 370px !important; */
    padding-left: 0 !important;
    padding-right: 0 !important;


    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}





.tituloAgendaUno {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 700;
    text-align: center;

    padding: 30px 10px 10px 10px;
}

.containerTalleres {
    width: 1245px;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-top: 40px;
}

.rowTalleres {
    gap: 1rem;
    align-items: center !important;
    justify-content: space-around !important;
}

.tituloAgendaUn {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 992px) {
   .textoQuienesAgenda {
    height: 0px;
   }
}


/* TALLERES REALIZADOS */

.sectionTalleresRalizados  {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    background-color: #E9FAF0;
    height: auto;
    padding: 40px 40px 40px 40px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.textTotal {
    align-items: center;
    justify-content: flex-start !important;
}

.datas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
}

.subti {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}


/* RECONOCIMIENTOS */


.containerReconocimientos {
    border-radius: 10px 10px 0px 0px;
    background-color:  #F6DBEB;
    padding: 30px 40px 30px 40px ;
}

.ultimo {
    margin-bottom: 4rem;
    border-radius: 0px 0px 10px 10px !important;
}

.recoSection {
    margin-bottom: 40px;
    margin-top: 40px;
    width: 1245px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
}

.containerReconocimientosA {
    border-radius: 0px 0px 0px 0px;
    background-color:  #F6DBEB;
    padding: 30px 40px 30px 40px ;
}

.containerReconocimientosDos {
    border-radius: 0px 0px 0px 0px;
    background-color:  #E9FAF0;
    padding: 30px 40px 30px 40px ;
}


.tituloReco {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    width: 80%;
}

.textoUnoReco {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 90%;  
}

.dosA {
    color: white;
}


.containerButtonAgenda {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}


.rec {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
}

.botonAgenda {
    background-color: #E185BA;
    width: 133px;
    height: 36px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.linkeadoAgenda {
    color: white !important;
    font-family: 'Roboto Condensed' !important;
    font-weight: 700 !important;
    font-size: 16px !important;
}

.agen  {
    color: #14AE5C !important;
}

.verde {
    background-color: #72E8A5;
    color: #14AE5C;
}

.textoAg {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    width: 224px;
}









































/* seccion proximos */

.proximosTalleres {
    gap: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
}

.textoAgProx {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    width: 275px;
}

.tituloAgProx {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 269px;
}

.talleresSection {
    width: 1245px;
    text-align: left;
}



.dataTaller {
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.textosTa {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;    
}

.talleresRea {
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 1245px;
}




.fotosRealizados {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}



/*reconocimientos*/



.recoTextosDos {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 90%;
    padding: 0px 0px 0px 40px;
}


.recoTextos {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

/**/

.containerRecoUno {
    background-color: #E9FAF0;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 0px 0px 10px 10px;
    padding: 30px 30px 30px 30px ;
}

