.containerAgenda {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.todoAgenda {
    height: 540vh;
}

.agenda {
    padding-top: 20px;
    width: 100%;
}

.tituloAgenda {
    font-family: 'Roboto Condensed';
    font-size: 38px;
    padding: 20px 0px 20px 0px;
    font-weight: 700;
    text-align: center;
}

.containerCuadroAgenda {
    width: 1245px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.containerAgen {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 1rem;
    align-items: center;
    width: 1245px;
    justify-content: space-around;
}

.contieneAgenda {
    background: #D34B9A;
    /* box-shadow: 10px 10px 30px rgba(210, 218, 242, 0.87); */
    border-radius: 10px;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    padding: 40px 30px 30px 30px;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
}

.dos {
    background-color: #A8FFCE;
}

.dosA {
    color: white;
}

.tituloAgendaUno {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.textoQuienesAgenda {
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    
}

.containerButtonAgenda {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
}

.rec {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
}

.botonAgenda {
    background-color: #E185BA;
    width: 133px;
    height: 36px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.linkeadoAgenda {
    color: white !important;
    font-family: 'Roboto Condensed' !important;
    font-weight: 700 !important;
    font-size: 16px !important;
}

.agen  {
    color: #14AE5C !important;
}

.verde {
    background-color: #72E8A5;
    color: #14AE5C;
}

.textoAg {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    width: 224px;
}

/* seccion proximos */

.containerProx {
    width: 1245px;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: flex-start;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.proximosTalleres {
    gap: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
}

.textoAgProx {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    width: 275px;
}

.tituloAgProx {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 269px;
}

.talleresSection {
    width: 1245px;
    text-align: left;
}

.sectionTalleresRealizados {
    width: 1245px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: #E9FAF0;
    height: auto;
    padding: 40px 40px 40px 40px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.dataTaller {
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.textosTa {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;    
}

.talleresRea {
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 1245px;
}

.subti {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}


.fotosRealizados {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.datas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

/*reconocimientos*/

.tituloReco {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    width: 80%;
}

.containerReconocimientos {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    border-radius: 10px 10px 0px 0px;
    background-color:  #F6DBEB;
    padding: 30px 40px 30px 40px ;
}

.containerCuadroReco {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    margin-top: 50px;
}

.textoUnoReco {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 90%;  
}

.recoTextosDos {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 90%;
    padding: 0px 0px 0px 40px;
}

.cuadroReco {
    width: 1245px;
    display: flex;
    margin-bottom: 5rem;
    padding-bottom: 30px;
    flex-direction: column;
    border-radius: 10px;
}

.recoTextos {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

/**/

.containerRecoUno {
    background-color: #E9FAF0;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 0px 0px 10px 10px;
    padding: 30px 30px 30px 30px ;
}

.recoSection {
    width: 1245px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
}