.fotoCont {
    display: flex !important;
    justify-content: flex-end !important;
}

.contenedorCon {
    margin-bottom: 2rem;
}

.uniteLink {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}