.containerRedes{
    display: flex ;
    flex-direction: row ;
    align-items: center;
    justify-content: flex-end;
    height: 46px;
}
.me-autos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.contactos {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.mailW {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cont {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}


.mail {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto Condensed';
    margin-bottom: 0px;
}

.redW {
    height: 24px;
    width: 24px;
}

.redM {
    height: 24px;
    width: 24px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .mail {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .mailW {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }


}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .mail {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .mailW {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }
}
