@media (min-width: 575px) and (max-width: 767px){
    .contenedorCuadrosOfre {
        margin-bottom: 3rem !important;
    }
    .imagenOfreTaller {
        justify-content: center !important;
        align-items: center !important;
        display: flex !important;
    } 
    .Ofre {
        margin-bottom: 2rem !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .contenedorCuadrosOfre {
        margin-bottom: 3rem !important;
    }
    .imagenOfreTaller {
        justify-content: center !important;
    } 
}

@media (min-width: 993px) and (max-width: 1199px) {
    .contenedorCuadrosOfre {
        margin-bottom: 3rem !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px)  {
    .iconoOfrecemos {
        width: 30% !important;
    }

    .botonOfrecemosTa {
        width: 130px !important;
        height: 37px !important;
    }

    .linkeadoTa {
        font-size: 18px !important;
    }

    .parteCuadroOfre {
        gap: 5rem !important;
    }
}


.parteCuadroOfre {
    background-color: #F3F3F3;
    align-items: flex-start !important;
    justify-content: space-around !important;
    padding: 40px 0px 40px 0px;
}

.textoOfrecemos {
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    width: 232px;
    height: 180px;
}

.imgOfrecemos {
    width: 180px !important;
}

.cuadrosOfre {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 0px 0px;
}

.contenedorCuadrosOfre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonMasOf {
    align-items: center !important;
    display: flex !important;
}

.botonOfrecemosTa {
    background-color: #D34B9A;
    width: 167px;
    height: 51px;
    border: none;
    border-radius: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botonOfrecemosTa:hover {
    background-color: #E185BA;
}

.Ofre {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
}

.parteOfre {
    align-items: center !important;
    justify-content: center !important;
    padding: 40px;
}

.imagenOfreTaller {
    display: flex !important;
    justify-content: flex-end !important;
}

.bannerTres {
    margin-bottom: 4rem;
}












.containerCuadroOfrecemos {
    background-color: #F3F3F3;
    width: 1245px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 30px;
    margin-bottom: 50px;
}



.containerB {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
    width: 1245px;
    justify-content: space-around;
}

.cuadroOfrece {
    background-color: #F3F3F3;
    width: 350px;
    height: 650px;
    padding: 40px 30px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
}

.containerIcon {
    width: 232px;
    height: 186px;
    background:#D34B9A ;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contieneTodo {
    height: 210px;
}



.linkeadoTa {
    color: white !important;
    font-family: 'Roboto Condensed' !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 28.13px !important;
}

.textosTalleres {
    width: 90%;
}