.containerFooter {
    background-color: #A7FFCD;
}

.containerLogoRedesFooter {
    width: 20%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.containerDatosFooter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.containerLogoFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerRedesSocialesFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logoFooter {
    width: 170px;
}

.datosFooter {
    font-size: 20px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
}
.subFooter {
    font-size: 20px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .datosFooter {
        font-size: 15px;
        font-family: 'Roboto Condensed';
        font-weight: 700;
    }
    .subFooter {
        font-size: 15px;
        font-family: 'Roboto Condensed';
        font-weight: 600;
    }
    .containerTextFooter {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-around;
        height: 50px !important;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    .containerTextFooter {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-around;
        height: 50px !important;
    }
    .datosFooter {
        font-size: 12px;
        font-family: 'Roboto Condensed';
        font-weight: 700;
    }
    .subFooter {
        font-size: 10px;
        font-family: 'Roboto Condensed';
        font-weight: 600;
    }

    .footerText {
        font-size: 10px !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .containerTextFooter {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-around;
        height: 50px !important;
    }
    .datosFooter {
        font-size: 15px;
        font-family: 'Roboto Condensed';
        font-weight: 700;
    }
    .subFooter {
        font-size: 15px;
        font-family: 'Roboto Condensed';
        font-weight: 600;
    }
}


.footerText {
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #D34B9A;
}

.containerTextFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 178px;
}

@media screen and (min-width: 993px) and (max-width: 1200px)  {
    .containerTextFooter{
        display: flex;
        flex-direction: column;
        height: 78px;
    }

    .datosFooter {
        font-size: 18px;
        font-family: 'Roboto Condensed';
        font-weight: 700;
    }
    .subFooter {
        font-size: 15px;
        font-family: 'Roboto Condensed';
        font-weight: 500;
    }
}

.containerWsp {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.botonWsp {
    border: none;
    background-color: #2DDB78;
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100%;
    margin-right: 63px;
}

.contieneContact {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.imagenW {
    width: 70%;
}