* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
.App-header {
  padding-top: 2rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}